@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .link-style {
    @apply text-gray-200 font-[family-name:var(--font-geist-mono)] hover:underline hover:text-gray-300;
  }

  .h1-style {
    @apply text-6xl font-bold text-center leading-relaxed text-gray-200 font-[family-name:var(--font-geist-mono)];
  }

  .h2-style {
    @apply text-3xl p-4 font-bold text-center text-gray-200 font-[family-name:var(--font-geist-mono)];
  }

  .h3-style {
    @apply text-xl font-semibold text-gray-200 font-[family-name:var(--font-geist-mono)];
  }

  .p-style {
    @apply mt-4 text-center font-[family-name:var(--font-geist-mono)] text-gray-400;
  }

  .section-style {
    @apply flex justify-center items-center relative lg:m-10 p-4;
  }

  .card-style {
    @apply rounded-lg bg-foreground p-6;
  }

  .profile-pic-style {
    @apply;
  }

  .ul-style {
    @apply mt-2 text-gray-400 space-y-2 font-[family-name:var(--font-geist-mono)];
  }

  .skills-row-style {
    @apply flex justify-center gap-8 p-4;
  }

  .skills-item-style {
    @apply hover:bg-background bg-transparent rounded-md transition duration-300 cursor-pointer flex flex-col items-center justify-center w-20 h-20 shadow-sm;
  }

  .social-media-style {
    @apply inline-block lg:w-80 px-6 py-3 rounded transition font-[family-name:var(--font-geist-mono)];
  }
}

@layer base {
  :root {
    --background: 0, 0%, 7%;
    --foreground: 270, 1%, 19%;
    --middleground: 270, 1%, 19%;
    --background-font-color: 0, 0%, 100%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  html {
    scroll-behavior: smooth;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
